doctype html
html
  head
    title= title
    script(src="/javascripts/lazy.js")
    meta(name='description' content='Salon-Gier-PC')
    meta(name='keywords' content='Gry,gry,salon gier,salon-gier-pc,games')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property='og:title' content='Salon-Gier-PC')
    link(rel ='manifest' href='/manifest/manifest.json')
    meta( name='theme-color' content='black')
    meta(property='og:image' content='https://image.freepik.com/free-vector/console-with-games-lettering-neon-sign-brick-background_1262-11854.jpg')
    meta(property='og:site_name' content='Salon Gier PC')
    meta(property='og:description' content='Najlepsze gry w twoim zasięgu')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="icon", href="/images/logo.png" type='image/gif' sizes='16x16')
    link(rel="stylesheet",href="/stylesheets/scroll.css")
  body
    block content
